In [2]:
import pandas as pd
import numpy as np
import math
from sklearn import linear_model

In [3]:
#Get the data
file = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
file.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [4]:
file.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [5]:
#Split into 2 
y = file['Customer Lifetime Value']
X = file.drop(['Customer Lifetime Value'], axis=1)

In [6]:
#Split into X into numerical and categorical
X_num = X.select_dtypes(include= np.number)
X_cat = X.select_dtypes(include= object)

In [7]:
#Normalize the data (Standariced it)
from sklearn.preprocessing import StandardScaler
X_standarized = StandardScaler().fit(X_num).transform(X_num)
X_standarized = pd.DataFrame(X_standarized, columns=X_num.columns)
X_standarized

,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,0.612827,-0.703925,1.678099,-1.543287,-0.422250,-0.822648,-0.169640
1,-1.239617,0.022691,-0.208186,-0.217334,-0.422250,2.106160,2.400737
2,0.365710,0.429596,0.288205,-0.360680,-0.422250,-0.404247,0.455734
3,-1.239617,0.371467,0.288205,0.606907,-0.422250,1.687759,0.329769
4,0.203390,-0.587666,-0.307465,-0.145661,-0.422250,-0.822648,-1.018843
...,...,...,...,...,...,...,...
9129,1.128558,-0.587666,0.288205,1.466984,-0.422250,-0.404247,-0.811934
9130,-0.528450,-0.413278,-0.108908,-0.719046,-0.422250,-0.822648,-0.188956
9131,-1.239617,-0.238891,-0.605299,-0.396517,2.873245,-0.404247,1.227937
9132,-0.517356,0.080820,1.876656,-1.614960,-0.422250,0.014154,0.885113
9133,-1.239617,-0.471408,-1.200968,1.502821,-0.422250,-0.822648,-0.222004

In [11]:
X_cat_onehot = X_cat.drop(['State', 'Coverage', 'Education', 'EmploymentStatus', 'Marital Status', 'Location Code', 'Policy', 'Renew Offer Type', 'Sales Channel', 'Vehicle Class', 'Vehicle Size', 'Policy Type'], axis=1)

X_cat_label = X_cat.drop(['Response', 'Gender'], axis=1)
X_cat_onehot.head()

  Customer Response Effective To Date Gender
0  BU79786       No           2/24/11      F
1  QZ44356       No           1/31/11      F
2  AI49188       No           2/19/11      F
3  WW63253       No           1/20/11      M
4  HB64268       No            2/3/11      M

In [ ]:
from sklearn.preprocessing import OneHotEncoder
X_hot_encoder = OneHotEncoder().fit(X_cat_onehot).transform(X_cat_onehot).toarray()
X_hot_encoder

In [ ]:
X_hot_encoder = pd.DataFrame(X_hot_encoder)
X_hot_encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder
X_lab_encoder = LabelEncoder().fit(X_cat_label['State']).transform(X_cat_label['State'])
X_lab_encoder = pd.DataFrame(X_lab_encoder, columns=['State'])
X_lab_encoder.head()

In [ ]:
#It does not make too much sense to encode categorical variables, because there are too many categorical options.
#For that it does not have neither sense to concat the tables.

In [ ]:
X_concat = pd.concat([X_standarized, X_hot_encoder], axis=1)
X_concat

In [ ]:
from sklearn.model_selection import train_test_split
X = X_num
X_train, X_test, y_train, y_test = train_test_split(X_num, y, test_size=0.25, random_state=100)

In [ ]:
#Without taking into account categoricals variables
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train) 
print(lm.intercept_)
print(lm.coef_)

In [ ]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [ ]:
#R2
predictions = lm.predict(X_test)
r2_score(y_test, predictions)
r2 = r2_score(y_test, predictions)
r2

In [ ]:
#Description: MSE.
mse = mean_squared_error(y_test, predictions)
print(mse)

In [ ]:
#Description: RMSE.
rmse = math.sqrt(mse)
print(rmse)

In [ ]:
#Description: MAE.
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, predictions)