In [14]:
import pandas as pd
import numpy as np

In [15]:
file = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
file.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [16]:
#Show the dataframe shape.
file.shape

(9134, 24)

In [17]:
#Standardize header names. 
print(file.columns)
file = file.rename(columns = {'EmploymentStatus':'Empoyment Status'})

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')

In [18]:
#Which columns are numerical and which columns are categorical?
file.dtypes

Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
Empoyment Status                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim            int64
Months Since Policy Inception      int64
Number of Open Complaints          int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
dtype: object

In [19]:
#Just numerical columns
num_col = file.select_dtypes(include = np.number)
cat_col = file.select_dtypes(include = object)

cat_col = pd.DataFrame(cat_col, columns = cat_col.columns)
num_col = pd.DataFrame(num_col, columns = num_col.columns)

print(cat_col)
print(num_col)

     Customer       State Response  Coverage Education Effective To Date  \
0     BU79786  Washington       No     Basic  Bachelor           2/24/11
1     QZ44356     Arizona       No  Extended  Bachelor           1/31/11
2     AI49188      Nevada       No   Premium  Bachelor           2/19/11
3     WW63253  California       No     Basic  Bachelor           1/20/11
4     HB64268  Washington       No     Basic  Bachelor            2/3/11
...       ...         ...      ...       ...       ...               ...
9129  LA72316  California       No     Basic  Bachelor           2/10/11
9130  PK87824  California      Yes  Extended   College           2/12/11
9131  TD14365  California       No  Extended  Bachelor            2/6/11
9132  UP19263  California       No  Extended   College            2/3/11
9133  Y167826  California       No  Extended   College           2/14/11

     Empoyment Status Gender Location Code Marital Status     Policy Type  \
0            Employed      F      Suburban        Married  Corporate Auto
1          Unemployed      F      Suburban         Single   Personal Auto
2            Employed      F      Suburban        Married   Personal Auto
3          Unemployed      M      Suburban        Married  Corporate Auto
4            Employed      M         Rural         Single   Personal Auto
...               ...    ...           ...            ...             ...
9129         Employed      M         Urban        Married   Personal Auto
9130         Employed      F      Suburban       Divorced  Corporate Auto
9131       Unemployed      M      Suburban         Single  Corporate Auto
9132         Employed      M      Suburban        Married   Personal Auto
9133       Unemployed      M      Suburban         Single  Corporate Auto

            Policy Renew Offer Type Sales Channel  Vehicle Class Vehicle Size
0     Corporate L3           Offer1         Agent   Two-Door Car      Medsize
1      Personal L3           Offer3         Agent  Four-Door Car      Medsize
2      Personal L3           Offer1         Agent   Two-Door Car      Medsize
3     Corporate L2           Offer1   Call Center            SUV      Medsize
4      Personal L1           Offer1         Agent  Four-Door Car      Medsize
...            ...              ...           ...            ...          ...
9129   Personal L1           Offer2           Web  Four-Door Car      Medsize
9130  Corporate L3           Offer1        Branch  Four-Door Car      Medsize
9131  Corporate L2           Offer1        Branch  Four-Door Car      Medsize
9132   Personal L2           Offer3        Branch  Four-Door Car        Large
9133  Corporate L3           Offer4   Call Center   Two-Door Car      Medsize

[9134 rows x 16 columns]
      Customer Lifetime Value  Income  Monthly Premium Auto  \
0                 2763.519279   56274                    69
1                 6979.535903       0                    94
2                12887.431650   48767                   108
3                 7645.861827       0                   106
4                 2813.692575   43836                    73
...                       ...     ...                   ...
9129             23405.987980   71941                    73
9130              3096.511217   21604                    79
9131              8163.890428       0                    85
9132              7524.442436   21941                    96
9133              2611.836866       0                    77

      Months Since Last Claim  Months Since Policy Inception  \
0                          32                              5
1                          13                             42
2                          18                             38
3                          18                             65
4                          12                             44
...                       ...                            ...
9129                       18                             89
9130                       14                             28
9131                        9                             37
9132                       34                              3
9133                        3                             90

      Number of Open Complaints  Number of Policies  Total Claim Amount
0                             0                   1          384.811147
1                             0                   8         1131.464935
2                             0                   2          566.472247
3                             0                   7          529.881344
4                             0                   1          138.130879
...                         ...                 ...                 ...
9129                          0                   2          198.234764
9130                          0                   1          379.200000
9131                          3                   2          790.784983
9132                          0                   3          691.200000
9133                          0                   1          369.600000

[9134 rows x 8 columns]

In [20]:
#Check and deal with NaN values. There aren´t null values.
file.isna().sum()
round(file.isna().sum()/len(file),4)*100

Customer                         0.0
State                            0.0
Customer Lifetime Value          0.0
Response                         0.0
Coverage                         0.0
Education                        0.0
Effective To Date                0.0
Empoyment Status                 0.0
Gender                           0.0
Income                           0.0
Location Code                    0.0
Marital Status                   0.0
Monthly Premium Auto             0.0
Months Since Last Claim          0.0
Months Since Policy Inception    0.0
Number of Open Complaints        0.0
Number of Policies               0.0
Policy Type                      0.0
Policy                           0.0
Renew Offer Type                 0.0
Sales Channel                    0.0
Total Claim Amount               0.0
Vehicle Class                    0.0
Vehicle Size                     0.0
dtype: float64

In [21]:
#Datetime format
month = file['Effective To Date']
data_time = file.drop(['Effective To Date'], axis=1)
data_time

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Empoyment Status,Gender,Income,Location Code,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,Employed,F,56274,Suburban,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,Unemployed,F,0,Suburban,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,Employed,F,48767,Suburban,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,Unemployed,M,0,Suburban,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,Employed,M,43836,Rural,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,Employed,M,71941,Urban,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,Employed,F,21604,Suburban,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,Unemployed,M,0,Suburban,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,Employed,M,21941,Suburban,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,Unemployed,M,0,Suburban,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [22]:
#Bonus
file = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')
file.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize